<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
    </style>
</head>
<body>

<div class="hero-image-c">
    <div class="hero-text-c">
        <h1 style="font-size:50px">All contact via:</h1>
        <h2 style="font-size:50px">Gustav Torp facebook</h2>
        <p>primarily complaints</p>
        <button><a href="https://www.facebook.com/gustav.torp.3?ref=br_rs">Not satisfied? go tell Gustav!!</a></button>
    </div>
</div>
<div class="logo-LeftCorner"><img src="https://i.imgur.com/VKkRjuB.png" alt="Trulli" width="300" height="100"></div>
</body>
</html>