<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div class="hero-image"></div>
<div class="logo-LeftCorner"> <img src="https://i.imgur.com/VKkRjuB.png" alt="Trulli" width="300" height="100"> </div>
<div class="hero-text">
    <h1 style="font-size:50px">5000 Movies</h1>
    <p>We believe in fine movies</p>
    <a href="movie"><button class="button">Get Started</button>
</div>
</body>
</html>