<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:padding-Right="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Movie5000</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>
<div class="topnav">
    <a href="/">IMDB</a>
    <a class="active" href="movie">Movie</a>
    <a href="/contact">contact</a>
    <a href="/aboutUs">About us</a>
</div>

<div style="padding-left: 38px;padding-right: 4px;" ;>
    <h2>Movie List</h2>
    <a href="/create">
        <button class="button"><span>Create </span></button>
    </a><a href="/search">
    <button class="button"><span>Search</span></button>
</a>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Title.." title="Type in a name">


    <div class="container">

        <table id="myTable">
            <thead>
            <tr class="header">
                <th style="width:25%;">Title</th>
                <th style="width:25%;">Genre</th>
                <th style="width:25%;">Year</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="movie: ${Movies}">
                <td th:text="${movie.title}"/>
                <td th:text="${movie.genre}"/>
                <td th:text="${movie.production}"/>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</div>
</table>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<div class="logo-TopRight"><img src="https://i.imgur.com/VKkRjuB.png" alt="Trulli" width="150" height="50"></div>
</body>
</html>